*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.App{
    padding: 0.2%;
    width: auto;
    height: 100rem;
       background-color: #1a1b1d;
}

.navbar{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    padding: 25px;
    background-color: #1a1b1d;
    box-shadow: 0px 0px 10px rgba(85, 85, 85, 0.2);

}

.my-log{
    width: 10%;
    height: 14vh;
}

.nav-img{
    width: 100%;
    height: 10vh;
    border-radius: 50%;
    margin: 4px 20px 0px 40px;
    border: solid 3px #4a4848;

}


.links{
    display: flex;
    margin:  0px  30px 40px 33%;
    text-decoration: #f0ecec;
}

li{
    list-style-type: none;
    margin: 12px;
    padding: 2px;
}
a{
    color: 	#FFFFFF;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
}

a:hover{
    color: #e71414;
    font-size: 13.5px;
    transition-duration: 2s;
}

.hire_mebotto{
    width: 12%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px rgba(85, 85, 85, 0.2);

}


.hire_mebotto{
    width: 90%;
    height: 10vh;
}

.log1{
    color: red;
    background-color: rebeccapurple;
}
button{
    margin: 20px 0px 0px 60px;
    width:40% ;
    height: 5vh;
    font-size: 12px;
    color: #e71414;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #272727;
    border: none;
    border-radius: 4%;
}


button:hover{
    font-size: 13px;
    height: 6vh;
    background: #4a4848;
}

/* .h1_name{
    color: #FFFFFF;
} */



.contents{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 90vh;
    padding: 15px 10px 0% 7%;
    background-color: #1a1b1d;
}

.improduction{
    display: flex;
    flex-direction: column;
    width: 42%;
    height: 78vh;
}


.dev_greet{
    padding: 40px;
    height: 30rem;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #1a1b1d;
    box-shadow: 5px 5px 15px 10px #1c1c1c;
}



.dev_greet:hover{
    box-shadow: 5px 5px 15px 10px #282727;
}



.title{
    padding-top: 40px;
    color: #f0ecec;
    font-size: 40px;
}

.user{
     width: 4rem;
     height: 8vh;
     border-radius: 50%;
     padding: 10px 0px 0px 10px ;
     background-color: #E60022;
     box-shadow: 1px 1px 5px 12px rgb(63, 23, 30)  ;
}


.fiuser-icon{
    color: #efeaea;
    font-size: 2.5rem;
}

.user-info{
    padding: 20px;
    margin: 50px 0px 0px 0px ;
}


.info-icon{
    color:#E60022;
    font-size:25px ;
    margin-right:3%;
}

.icon-desc{
    font-size:20px;
}


.downlods-butto{
    height: 10rem;
    margin: 4% 0% 0% 0%;
    text-align: center;
    display: flex;
    background-color: #1a1b1d;
    box-shadow: 5px 5px 15px 10px #1c1c1c;
}


.downlods-butto:hover{
    box-shadow: 5px 5px 15px 10px #282727;
}

.contactme{
    margin-top: 30px;
    color: #e71414;
    font-size: 15px;
    width: 10rem;
     height: 8vh;  
     border-radius: 10px;  
}

.contactme:hover{
    color: rgb(136, 34, 132);
    background-color: #2f2d2d;
}


.pic_me{
    text-align: center;
    margin-left: 5%;
    width:50%;
    height: 78vh;
    border-radius: 10px;
    background-color: #1e2125;
    box-shadow: 5px 5px 15px 10px #1c1c1c;
}

img{
    width: 100%;
}