*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.App{
    padding: 0.2%;
    width: auto;
    height: 450rem;
       background-color: #1a1b1d;
}

.navbar{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    padding: 25px;
    background-color: #1a1b1d;
    box-shadow: 0px 0px 10px rgba(85, 85, 85, 0.2);

}

.my-log{
    width: 10%;
    height: 14vh;
}

.nav-img{
    width: 100%;
    height: 10vh;
    border-radius: 50%;
    margin: 4px 20px 0px 40px;
    border: solid 3px #4a4848;

}


.links{
    display: flex;
    margin:  0px  30px 40px 33%;
    text-decoration: #f0ecec;
}

li{
    list-style-type: none;
    margin: 12px;
    padding: 2px;
}
a{
    color: 	#FFFFFF;
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
}

a:hover{
    color: #e71414;
    font-size: 13.5px;
    transition-duration: 2s;
}

.hire_mebotto{
    width: 12%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px rgba(85, 85, 85, 0.2);

}


.hire_mebotto{
    width: 50%;
    height: 10vh;
}

.log1{
    color: red;
    background-color: rebeccapurple;
}
button{
    margin: 20px 0px 0px 60px;
    width:40% ;
    height: 5vh;
    font-size: 12px;
    color: #e71414;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #272727;
    border: none;
    border-radius: 4%;
}


button:hover{
    font-size: 13px;
    height: 6vh;
    background: #4a4848;
}

/* .h1_name{
    color: #FFFFFF;
} */



.contents{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 90vh;
    padding: 15px 10px 0% 7%;
    background-color: #1a1b1d;
    box-shadow: 7px 1px 0px #565555;
}


.introduction{
    display: flex;
    flex-direction: column;
    width: 42%;
    height: 78vh;
}


.dev_greet{
    padding: 40px;
    height: 30rem;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #1a1b1d;
    box-shadow: 5px 5px 15px 10px #1c1c1c;
}



.dev_greet:hover{
    box-shadow: 5px 5px 15px 10px #232222;
}



.title{
    padding-top: 40px;
    color: #f0ecec;
    font-size: 40px;
}

.user{
     width: 4rem;
     height: 8vh;
     border-radius: 50%;
     padding: 10px 0px 0px 10px ;
     background-color: #E60022;
     box-shadow: 1px 1px 5px 12px rgb(63, 23, 30)  ;
}


.fiuser-icon{
    color: #efeaea;
    font-size: 2.5rem;
}

.user-info{
    padding: 20px;
    margin: 50px 0px 0px 0px ;
}


.info-icon{
    color:#E60022;
    font-size:25px ;
    margin-right:3%;
}

.icon-desc{
    font-size:23px;
}



.downlods-butto{
    border-radius: 7px;
    padding: 23px;
    height: 14rem;
    margin: 3% 0% 0% 3%;
    text-align: center;
    display: flex;
    background-color: #1a1b1d;
    box-shadow: 5px 5px 15px 10px #232222;
}


.downlods-butto:hover{
    box-shadow: 5px 5px 15px 10px #232222;
}

.contactme{
    text-align: center;
    margin-top: 30px;
    color: #e71414;
    font-size: 15px;
    width: 10rem;
     height: 8vh;  
     border-radius: 10px;  
}

.contactme:hover{
    color: rgb(136, 34, 132);
    background-color: #2f2d2d;
}


.pic_me{
    text-align: center;
    margin-left: 5%;
    width:100%;
    height: 78vh;
    border-radius: 10px;
    background-color: #090909;
    box-shadow: 5px 5px 15px 10px #232222;
}

.aim-imag{
    width: 50%;
    height: 78vh;
}

.aim-imag:hover{
    width: 55%;
    height: 78vh;
}



.main-experience{
    padding-top: 20px;
    width: 100%;
    height: 150vh;
}

.myExperience{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 80%;
    height:143vh;
    margin-left: 8%;
    border-radius: 10px;   
}

.dev1{
    display: flex;
    flex-direction: row;
}
.EX-content{
  margin: 12px;
  padding: 20px;
  width: auto;
  box-shadow: 5px 5px 15px 10px #232222;
  height: 25vh;
  display: flex; 
  border-radius: 20px;
  flex-direction: column;

}

.years{
    color: #e71414;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.para-exp{
text-align: center;
font-size: 50px;
color: #FFFFFF;
font-family: sans-serif;
font-weight: bold;
margin: 50px;

}


.my-experience{
    border-radius: 10px;
    padding: 3px;
    margin: 10px;
    display: flex;
    box-shadow: 5px 5px 15px 10px #232222;
    flex-direction: row;
    width: auto;
    height: 35vh;
}


.develop-img{
    margin: 10px 40px 1px 10px;
    width: 200rem;
    border-radius: 8px;
}

.exp-desc{
    padding-left: 4%;
    padding-top: 40px;
    margin: 10px 0px 13px 10px;
    width: 560%;
    border-radius: 8px;
    height: 30vh;
}

.contactme1{
    margin:6rem;
    border: none;
    color: #090909;
    border-radius: 5px;
    width: 120%;
    height: 6vh;
    color: #bd0b40;
    font-size: 16px;
}

.tit-exp{
    color: #faf7f7;
    font-size: 20px;
    font-family: sans-serif;
}

.exp-develop{
    padding-top: 27px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
}

.exp-butto{
    width: 15%;
    text-align: center;
    margin: 40px 0px 10px 40%;
}
.img_devops{
    width: 120%;
    height: 30vh;
    border: 10px;
}

/* .helo{
    color: #1a1919;
} */

.edu-content{
        padding-top: 20px;
        width: 100%;
        height: 150vh;
        /* background-color: #1e2125; */
    }
    

    .resume-content{
        padding-top: 20px;
        width: 100%;
        height: 150vh;
        /* background-color: blue; */
    }

    .resume{
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        width: 83%;
        height:140vh;
        margin-left: 8%;
        border-radius: 10px;       
    }

    .resume-dev{
        margin: 12px;
        padding: 20px;
        width: auto;
        box-shadow: 5px 5px 15px 10px #232222;
        height: 20vh;
        display: flex; 
        flex-direction: column;
    }



    
    .blog-content{
        padding-top: 20px;
        width: 100%;
        height: 110vh;
    }



    .blog-me{
        color: #FFFFFF;
        width: 83%;
        margin-left: 8%;
        padding: 8px;
        border-radius: 10px; 
    }

    .blog{
        border-radius: 20px;
        margin: 10px;
        padding: 20px;
        width: auto;
        box-shadow: 5px 5px 15px 10px #232222;
        height: 20vh;
    }

    .all{
        display: flex;
        flex-direction: row;
    }


.my-blog{
    margin: 10px;
    box-shadow: 5px 5px 15px 10px #232222;
    padding: 5px;
    width: 95%;
    height:70vh;
    border-radius: 7%;
}

.my-blog:hover{
    box-shadow: 5px 5px 15px 10px #232222;
    background-color:#1c1c1c;
}

    .blog1{
        height:43vh;
    }

    .img-blog-img{
        border-radius: 20px;

        border-bottom-left-radius: 20px;
        margin: 25px;
        width: 90%;
        height: 33vh;
    }

    .img-blog-img:hover{
        width: 92%;
        border-radius: 4%;
    }

    .blog-desc{
        padding-top: -10px;
        width: 99%;
        height:20vh;
        border-radius: 20px;
    }

    .blog-head{
        color: #e71414;
        font-size: 25px;
        font-family: sans-serif;
        font-weight: bold;
        margin-left: 30px;
    }

    .blog-paraa{
        padding-top: 70px;
        color: #f0ecec;
        font-size: 22px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 20px;
    }
    

    .blog-paraa:hover{
        color: #bd0b40;
        font-size: 20px;
    }


/* 
    .contact-content{
        background-color: #1a1b1d;
    } */


    .contact-content{
        padding-top: 20px;
        width: 100%;
        height: 150vh;
    }



    
    .contact-here{
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        width: 83%;
        height:140vh;
        margin-left: 8%;
        border-radius: 10px;       
    }

    .contacts{
        margin: 12px;
        padding: 20px;
        width: auto;
        box-shadow: 5px 5px 15px 10px #1a1919;
        height: 20vh;
        display: flex; 
        flex-direction: column;
    }


.contact-head{
    color: #e71414;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.para-contact{
text-align: center;
font-size: 50px;
color: #FFFFFF;
font-family: sans-serif;
font-weight: bold;
margin: 50px;

}